@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.detailed-view-bg-container
{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    background-size: cover;
}

.detailed-view-heading
{
    color: white;
    font-family: 'roboto';
    font-size: 38px;
    font-weight: bold;
    padding: 15px;
}

.detailed-view-card-container
{
    margin: 20px;
}

.detailed-view-card-text-container
{
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px;
}

.detailed-view-card-heading
{
    color: black;
    font-family: 'roboto';
    font-size: 38px;
    font-weight: bold;
}

.detailed-view-card-text
{
    color: black;
    font-family: 'roboto';
    font-size: 18px;
}